.bg-color {
  background: #F8F9FA;
}
.btn-cart {
  border: 1px solid black;
  border-radius: 5px;
}
.btn-cube {
  border: 1px solid black;
  border-radius: 5px;
  width: 50px;
  margin-left: 5px;
}
.right {
  justify-content: flex-end;
  display: flex;
}
.btn:hover {
  background: lightskyblue;
}
.head {
  font-weight: 400;
}
