<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card card-bs cardps asb" (click)="backCatlog()">
        <h2 class="head asp">{{selectedName}}</h2>
        <img src="https://www.eecs.yorku.ca/course_archive/2021-22/F/4413/files/project/D/images/{{selectedId }}.jpg"
          alt="">

      </div>
    </div>
    <div class="col-md-4">
      <div class="product-div">
        <p class="product-line" *ngFor="let product of products" (click)="specificproductDetails(product.id)">
          {{product.name}}</p>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card" *ngIf="specificProduct.length ==0">
        <p class="py-3 text-center">Select a product</p>
      </div>
      <ng-container *ngIf="specificProduct.length !=0">

        <app-category-card *ngFor="let category of specificProduct" [category]="specificProduct"
        [routerLink]="'/category/' + category.id">
      </app-category-card>
      </ng-container>

    </div>

  </div>
</div>
